<html>

<head>
    <title>Content extractor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        body {
            padding: 20px;
        }

        label,
        input,
        select {
            margin: 5px 0;
            padding: 5px 10px;
        }

        form {
            font-size: 16px;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // Ajax form submit and print JSON response in the console
        $(document).ready(function() {
            $('#form').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/headings',
                    data: $('#form').serialize(),
                    success: function(data) {
                        console.log(data);
                        // Iterate over the "headings' key in the JSON object and change html
                        for (var i = 0; i < data.headings.length; i++) {
                            $('#results').append(
                                '<p>' + data.headings[i] + '</p>'
                            );
                        }
                    }
                    // print the response in the console on fail
                }).fail(function(data) {
                    console.log(data);
                }); 
                });
            });

        // Change div content to loading image while ajax call is in progress
        $(document).ajaxStart(function() {
            $('#result').html('<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading...">');
        });
        // Change div content to error message if ajax call fails
        $(document).ajaxError(function() {
            $('#result').html('<p>Error: Ajax call failed.</p>');
        });

    </script>
</head>

<body style="text-align:center;">
    <div id="content">
        <h1>Topic finder</h1>
        <p>
            Get the most important topics to be used in your content. Topics are extracted from Google Also Asked
            Questions and the top 10 results in SERP.
        </p>
        <p>
            <b>Copy to wordpress</b> will return the content of the article with the Gutenberg blocks to be pasted on
            Wordpress.<br>
            <b>Clean text</b> will return the topics without the HTML tags.<br>
        </p>
        <form method="post" action="/" id="form">
            <label>Keyword:</label><br>
            <input style="width: 700px; max-width: 100%;" type="text" name="keyword"><br>

            <input type="submit" value="Get topics">
            <input type="reset" value="Reset form">
        </form>
        <div id="result">
            Results will be shown here.
        </div>
        <p>
            You can find the source code of this project on <a href="https://github.com/yanmcs/topics-extractor"
                target="_blank">Github</a>.
        </p>
    </div>
</body>

</html>