<html>

<head>
    <title>Topic finder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        body {
            padding: 20px;
        }

        label,
        input,
        select {
            margin: 5px 0;
            padding: 5px 10px;
        }

        form {
            font-size: 16px;
        }

        #result {
            padding: 20px;
            width: 600px;
            max-width: 100%;
            text-align: center;
        }
        #result label {
            font-weight: 300;
        }
        #result button{
            width: 120px;
            max-width: 35%;
            padding: 10px;
            margin: 10px;
        }
        #result tr{
            border-bottom: 1px solid #ccc;
        }
        #result tr:first-child{
            width: 20%;
        }
        #result tr:nth-child(2){
            width: 70%;
        }
        #result input[type="checkbox"]{
            height: 20px;
            width: 20px;
            /*Change color of textbox*/
        }
        #result img{
            max-width: 100%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        // Copies the string to the clipboard.
        function copyToClipboard() {
            // Creates a string with all checked checkboxes.
            var text = "";
            $("input[type=checkbox]:checked").each(function() {
                text += $(this).val() + "\n";
            });
            // Creates a temporary element to hold the string.
            var temp = document.createElement("textarea");
            // Sets the string to the value of the temporary element.
            temp.value = text;
            // Appends the temporary element to the DOM.
            document.body.appendChild(temp);
            // Selects the text in the temporary element.
            temp.select();
            // Copies the text to the clipboard.
            document.execCommand("copy");
            // Removes the temporary element from the DOM.
            document.body.removeChild(temp);
            // Displays a message that the text has been copied to the clipboard.
            alert("Copied to clipboard! \n" + text);
        }

        // Disable submit button during AJAX request and change text to "Loading...".
        function disableSubmitButton() {
            $("#submit").prop("disabled", true);
            $("#submit").val("Loading...");
        }
        // Enable submit button after AJAX request and change text to "Submit".
        function enableSubmitButton() {
            $("#submit").prop("disabled", false);
            $("#submit").val("Get topics");
        }


        // Copies the string to the clipboard.
        function copyToWordpress() {
            // Creates a string with all checked checkboxes.
            var text = "";
            $("input[type=checkbox]:checked").each(function() {
                text += "<h2>"+ $(this).val() + "</h2>\n";
            });
            // Creates a temporary element to hold the string.
            var temp = document.createElement("textarea");
            // Sets the string to the value of the temporary element.
            temp.value = text;
            // Appends the temporary element to the DOM.
            document.body.appendChild(temp);
            // Selects the text in the temporary element.
            temp.select();
            // Copies the text to the clipboard.
            document.execCommand("copy");
            // Removes the temporary element from the DOM.
            document.body.removeChild(temp);
            // Displays a message that the text has been copied to the clipboard.
            alert("Copied to clipboard! \n" + text);
        }


        // Ajax form submit and print JSON response in the console
        $(document).ready(function () {
            $('#form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/headings',
                    data: $('#form').serialize(),
                    success: function (data) {
                        console.log(data);
                        // Iterate over the "headings' key in the JSON object and change html
                        let html = '<form id="headings" onsubmit="event.preventDefault()">';
                            html+= '<p>Select headings you want to copy to clipboard:</p>';
                            html+= '<table>';
                        for (i = 0; i < data.headings.length; i++) {
                            html += '<tr class="heading-option">'
                            html += '<td><input type="checkbox" name="headings" id="' + data.headings[i] + '" value="' + data.headings[i] + '" checked ></td>';
                            html += '<td><label for="' + data.headings[i] + '">' + data.headings[i] + '</label></td>';
                            html += '</tr>';
                        }
                        // Add copy button to copy all selected headings to the clipboard
                        html += '</table></form><button href="javascript:void()" onclick="copyToClipboard()" >Copy to clipboard</button>';
                        html += '<button href="javascript:void()" onclick="copyToWordpress()" >Copy to Wordpress</button>';
                        html += '';
                        $('#result').html(html);
                    }
                    // print the response in the console on fail
                }).fail(function (data) {
                    console.log(data);
                });
            });
        });

        // Change div content to loading image while ajax call is in progress
        $(document).ajaxStart(function () {
            $('#result').html('<img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading...">');
        });
        // Change div content to error message if ajax call fails
        $(document).ajaxError(function () {
            $('#result').html('<p>Error: Ajax call failed.</p>');
        });

    </script>
</head>

<body style="text-align:center;">
    <div id="content">
        <h1>Topic finder</h1>
        <p>
            Get the most important topics to be used in your content. Topics are extracted from Google Also Asked
            Questions and the top 10 results in SERP.
        </p>
        <form method="post" action="/" id="form">
            <label>Keyword:</label><br>
            <input style="width: 700px; max-width: 100%;" type="text" name="keyword"><br>

            <input type="submit" value="Get topics" id="submit">
            <input type="reset" value="Reset form">
        </form>
        <p>
            Results will be shown down here. You will be able to copy the selected topics to clipboard after research is done.
        </p>
        <div id="result">
        </div>
        <p>
            <b>Copy to Wordpress</b> will return the content of the article with the Gutenberg blocks to be pasted on
            Wordpress directly.<br>
            <b>Copy to clipboard</b> will return the topics without the HTML tags.<br>
        </p>
        <p>
            You can find the source code of this project on <a href="https://github.com/yanmcs/topics-extractor"
                target="_blank">Github</a>.
        </p>
    </div>
</body>

</html>